.header {
  width: fill;
  height: 86px;
  padding: 10px 30px;
  background-color: #f6f8fa;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topNav {
  padding: 6px 14px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.topNavList {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.topSection {
  width: fill;
  height: 446px;
  padding: 40px 30px 0px;
}
.topSectionContainer {
  display: flex;
  flex-direction: row;
}
.topSectionContent {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: left;
  gap: 30px;
}
.topSectionLogos {
  width: 482px;
  height: 406px;
}
.title {
  width: 334px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 24px;
}
body {
  margin: 0;
}
.whyFrontSection {
  width: fill;
  padding: 0 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.whyFrontTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.whyFrontTitle > p {
  width: 600px;
}
.bulletsList {
  padding: 0 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bullet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.bulletTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bulletCircle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bulletDot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #0066ff;
}
.wing {
  width: 83px;
  height: 1px;
  background-color: #ecf2ff;
}
.wing.hidden {
  background-color: #ffffff;
}
.pricingSection {
  width: fill;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.pricingTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pricingTable {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.plan {
  width: 370px;
  border: 1px #e2e2e2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.planHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.planPrice {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.priceNum {
  font-family: Inter;
  font-weight: 500;
  font-size: 50px;
  line-height: 60.51px;
  color: #000000;
}
.planPeriod {
  padding: 9px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.planPeriod > div {
  font-family: SF Pro;
  font-weight: 510;
  font-size: 20px;
  line-height: 23.87px;
  color: #677788;
}
.planDivider {
  width: 290px;
  height: 1px;
  background-color: #8d8d8d;
}
.planHeader > p {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
}
.planFeatures {
  width: fill;
  height: fill;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.feature {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.feature > .featureTitle {
  color: #000000;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
}
.feature > .featureText {
  width: 237px;
  color: #677788;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.hireUsSection {
  padding: 30px;
  background-color: #20335b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hiringInfo {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
  gap: 60px;
}
.hiringText {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hiringTextUpper {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.hiringTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hiringTextUpper > .divider {
  width: 370px;
  height: 1px;
  background-color: #ffffff;
}
.hiringReview {
  width: 363px;
}
.hiringReviewCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviewName {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.reviewPicture > img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.hiringForm {
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
  gap: 37px;
}
.formData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nameBox {
  width: 392px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.emailBox {
  width: 392px;
  display: flex;
}
.nameBox > input {
  width: 186px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
}
.emailBox > input {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
  flex: 1;
}
.dropdowns {
  width: 392px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.dropdowns > select {
  padding: 10px 16px 10px 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
  flex: 1;
}
.textBox {
  width: 392px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
}
.textBox > textarea {
  width: 392px;
  height: 150px;
  resize: none;
}
.checkboxes {
  width: 392px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}
.checkboxWrapper > input {
  width: 25px;
  height: 24px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #e6e8f2;
}
.checkboxInfo {
  color: #828282;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.privacyWrapper {
  color: #677788;
  font-family: SF Pro;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.privacyWrapper:hover {
  color: #2476ff;
}
.formSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formSubmit > button {
  width: 150px;
  border-width: 0;
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #2476ff;
  color: #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.52px;
}

footer {
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.contactCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.footerFontLogo {
  width: 100px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.contactInfo > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 9px;
}
.address {
  color: #677788;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 16.71px;
}
.phone {
  color: #2576ff;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 16.71px;
}
.directory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 49px;
}
.dir {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.dirTitle {
  color: #000000;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 21.48px;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
.career {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
}
.nav > div,
.career:first-child {
  color: #677788;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 21.48px;
}
.nav > div:hover {
  color: #2476ff;
}
.career:last-child {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #2576ff;
  color: #ffffff;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 8px;
  line-height: 9.55px;
}
