@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: fill;
  background-color: #f6f8fa;
}
.headerWrapper {
  height: 86px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerFontLogo {
  width: 160px;
  height: 48px;
}
.topNav {
  padding: 6px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.topNavList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.buyButton {
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #2476ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buyNow {
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}
.topSection {
  width: fill;
  height: 446px;
  padding: 40px 30px 0px;
  background-image: url("../assets/bg/background-top.svg");
}
.topSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.topSectionContent {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: left;
  gap: 30px;
}
.topSectionWords {
  width: 334px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.topSectionTitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 40px;
}
.topSectionSubtext {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #677788;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 24px;
}
.learnMore {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  color: #677788;
}
.topSectionLogos {
  width: 482px;
  height: 406px;
}
.topSectionLogo {
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 3px 13px 0px #00000040;
}
#google {
  position: relative;
  top: 10px;
  left: 64px;
}
#googleCalendar {
  position: relative;
  top: 310px;
  left: 364px;
}
#googleAds {
  position: relative;
  top: 290px;
  left: 155px;
}
#paypal {
  position: relative;
  top: 172px;
  left: 44px;
}
#weave {
  position: relative;
  top: 172px;
  left: 262px;
}
#atlassian {
  position: relative;
  top: 10px;
  left: 175px;
}
#asana {
  position: relative;
  top: 10px;
  left: 380px;
}
.small {
  width: 60px;
  height: 60px;
  margin: 0 0 -60px;
  padding: 10px;
}
.large {
  width: 80px;
  height: 80px;
  margin: 0 0 -80px;
  padding: 16px;
}
.small > img {
  width: 40px;
  height: 40px;
}
.large > img {
  width: 48px;
  height: 48px;
}
.title {
  width: 334px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.whyFrontSection {
  width: fill;
  padding: 0 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.whyFrontTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sectionTitle {
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.sectionSubtext {
  width: 600px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #677788;
}
.bulletsList {
  padding: 0 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bullet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.bulletTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bulletCircle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bulletDot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #0066ff;
}
.wing {
  width: 83px;
  height: 1px;
  background-color: #ecf2ff;
}
.wing.hidden {
  background-color: #ffffff;
}
.bulletTitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.pricingSection {
  width: fill;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.pricingTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pricingTable {
  width: 964;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.plan {
  width: 370px;
  border: 1px #e2e2e2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  box-shadow: 0px 10px 20px 0px #00000026;
}
.planHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.planPrice {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.priceNum {
  font-family: Inter;
  font-weight: 500;
  font-size: 50px;
  line-height: 60.51px;
  color: #000000;
}
.planPeriod {
  padding: 9px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.planPeriod > div {
  font-family: SF Pro, Roboto;
  font-weight: 510;
  font-size: 20px;
  line-height: 23.87px;
  color: #677788;
}
.planDivider {
  width: 290px;
  height: 1px;
  background-color: #8d8d8d;
}
.planInfo {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
}
.videoButton {
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #2476ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.planFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.videoIconCircle {
  width: 18px;
  height: 18px;
  padding-left: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoIconTriangle {
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-left: 10px solid #2476ff;
  border-bottom: 6px solid transparent;
}
.playVideo {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.noCC {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  color: #677788;
}
.planHeader > p {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
}
.planFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.feature {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.iconWrapper {
  width: 50px;
  height: 50px;
}
.iconWrapper > * {
  width: 50px;
  height: 50px;
}
.featureTitle {
  color: #000000;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
}
.featureText {
  width: 237px;
  color: #677788;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.hireUsSection {
  padding: 30px;
  background-color: #20335b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hiringInfo {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
  gap: 60px;
}
.hiringText {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hiringTextUpper {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.hiringTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.hiringTitle {
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}
.hiringSubtext {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
}
.hiringTextUpper > .divider {
  width: 370px;
  height: 1px;
  background-color: #ffffff;
}
.hiringReview {
  width: 363px;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.hiringReviewCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviewNameWrapper {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.reviewName {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.reviewerTitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #677788;
}
.reviewPicture > img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.hiringForm {
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
  gap: 37px;
}
.formData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nameBox {
  width: 392px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.emailBox {
  width: 392px;
  display: flex;
}
.nameBox > input {
  width: 186px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
}
.emailBox > input {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
  flex: 1;
}
.dropdowns {
  width: 392px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.dropdowns > select {
  padding: 10px 16px 10px 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
  flex: 1;
}
.textBox {
  width: 392px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e8f2;
}
.textBox > textarea {
  width: 392px;
  height: 150px;
  resize: none;
}
.checkboxes {
  width: 392px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}
.checkboxWrapper > input {
  width: 25px;
  height: 24px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #e6e8f2;
}
.checkboxInfo {
  color: #828282;
  font-family: SF Pro, Roboto;
  font-weight: 510;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.privacyWrapper {
  color: #677788;
  font-family: SF Pro, Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.formSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formSubmit > button {
  width: 150px;
  border-width: 0;
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #2476ff;
  color: #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: l2px solid;
  line-height: 14.52px;
}

footer {
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.contactCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.footerFontLogo {
  width: 100px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.contactInfo > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 9px;
}
.address {
  color: #677788;
  font-family: SF Pro, Roboto;
  font-weight: 510;
  font-size: 14px;
  line-height: 16.71px;
}
.phone {
  color: #2576ff;
  font-family: SF Pro, Roboto;
  font-weight: 510;
  font-size: 14px;
  line-height: 16.71px;
}
.directory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 49px;
}
.dir {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.dirTitle {
  font-family: SF Pro, Roboto;
  font-weight: 860;
  font-size: 18px;
  line-height: 21.48px;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
#career {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
}
.nav > div:not(#career),
.career,
.navWrapper {
  font-family: SF Pro, Roboto;
  font-weight: 510;
  font-size: 14px;
  color: #677788;
}
.wereHiring {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #2576ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wereHiring > div {
  color: #ffffff;
  font-family: SF Pro, Roboto;
  font-weight: 510;
  font-size: 8px;
  line-height: 9.55px;
}
.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.navWrapper > div:first-child {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #677788;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.helpIcon {
  padding-right: 1px;
}

.helpIcon > div {
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.accountIconCircle {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}
.accountIconSemiCircle {
  width: 6px;
  height: 3px;
  border-radius: 75% 75% 85% 85%;
  background-color: #ffffff;
}
